@model IEnumerable<DictionaryLookup.Models.VersionedDictionary>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/About.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LanguageID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VersionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersionName)
        </td>
    </tr>
}

</table>
