
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Home/About.cshtml";
}

<h2>Upload</h2>

@using (Html.BeginForm())
{
    <p>
        Dictionary: @Html.TextBox("File Location") <br />
        <input type="submit" value="Upload" />
    </p> 
}


